.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 0.92fr 0.92fr;
  grid-template-rows: 165px 50px 510px 40px ;
  column-gap: 0px;
  row-gap: 0px;
}

.header {
  grid-area: 1 / 1 / 1 / 4;
  /* border: 1px solid #FF69B4; */
  background-color: white; 
  
  
}

.main {
  grid-area: 2 / 1 / 3 / 4;
  /* border: 1px solid #FF69B4; */
  background-color: #FFE4E1;
  
}
.main2 {
  grid-area: 3 / 1 / 4 / 4;
  /* border: 1px solid #FF69B4; */
  background-color: #FFB6C1;
  background-image: url(Bilder/Main2CandyPic.jpg);
  
}
.footer {
  grid-area: 4 / 1 / 5 / 4;
  /* border: 1px solid #FF69B4;  */
  background-color: white;
  
}

body{
/* background-color: #FFC0CB; */
}

img#HomeLogo{
width: 368px;
height: 162px;
margin-left:10px;

}

div#footerText{
vertical-align: middle;
position: absolute;
font-family: 'Bangers', cursive;
/* border: 1px solid black; */
width: 100%;
height: 38px;
}

ul#footerListe{
list-style: none;
margin-top: 20px;
text-align: center;
}

li#Impressum, li#Agb, li#Kontakt, li#Hilfe{
 display: inline;
 margin-left: 10px;
 color: #C71585;
}

li.leftborder{
border-left: 1px solid #C71585;
padding-left: 10px;
}

li#Impressum:hover, li#Agb:hover, li#Kontakt:hover, li#Hilfe:hover {
  color: #FF69B4;
}

img#Main2Hintergrund{
  width: 100%;
  height: 100%;
}

img#Einkaufskorb{
  width: 30px;
  height: 30px;
  float: left;
  padding-top: 8px;
  padding-left: 5px;
}

div#EinkaufslistenDropDown{
  width: 30%;
  height: 96%;
  border: 1px solid #C71585;
  background-color: rgb(248, 120, 201);
  margin-left: 300px; 
}

p#TextEinkaufsliste{
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 20px;
  padding-top: 14px;
  padding-left: 50px;
}





button#DropDownPfeil1{
  float: right;
  width: 37px;
  height: 25px;
  background-color: #C71585;
  margin-top: 12px;
  border:1px solid #FFB6C1;
  margin-right: 5px;
  
}


img.kleineBilder{
  width: 25px;
  height: 23px;
  margin-left: 0px;

}

ul#listBuy li.Einkaufsliste a{

  padding-left: 10px;
  display: block;
  padding: 10px;
  font-family: sans-serif;


}

ul#listBuy li.Einkaufsliste a:hover{

  border: 1px solid #C71585;
  padding: 9px;

}

ul#listBuy li.Einkaufsliste{

  padding: 10px;
  
}

ul#listBuy{

  width: 30%;
  height: 96%;
  border-left: 1px solid #C71585; 
  border-right: 1px solid #C71585; 
  border-bottom: 1px solid #C71585;
  background-color: rgba(240, 238, 238, 0.905);
  margin-left: 300px; 

}

div#EintragHinzufügen{
  width: 30%;
  height: 96%;
  border-left: 1px solid #C71585; 
  border-right: 1px solid #C71585; 
  border-bottom: 1px solid #C71585;
  background-color: rgba(240, 238, 238, 0.905);
  margin-left: 300px; 


}

li.Einkaufsliste{

  color: #C71585;


}

li.Einkaufsliste.liActive {
  background-color: #f9d9f9;
}

button#Müll1, button#Müll2,button#Müll3, button.Listeneintrag {

  float: right; 
  margin-right: 5px ; 
  margin-top: 3px;
  border: none;
  background-color: transparent;
  height: 30px;
  background: url(Bilder/Müll.png);
  
}

p#neueListe{

  font-family: sans-serif;
  
  padding: 10px;
  color: #C71585;
  padding-left: 230px;

}

button#Plus{
  float: right; 
  margin-right: 5px ; 
  margin-top: -3px;
  border: none;
  background-color: transparent;
}


/*
.Einkaufsliste{

  padding-left: 300px;
  display: block;
  padding: 10px;
  font-family: sans-serif;
  margin-left: 10px;


}

.Einkaufsliste:hover{

  border: 1px solid #C71585;
  padding: 9px;


}*/

a.EinkaufslisteStyle{

  text-decoration: none;
  color: #C71585;

}

img.MülleimerBild{

  width: 20px;
  height: 20px;



}

input#Eingabe{

  width: 450px;
  height: 35px;
  float: right;
  margin-right: 0px;
  
  border: 1px solid #C71585;
  font-size: 18px;
  text-align: center;
  background-color: rgba(236, 167, 213, 0.905);
  color: rgb(236, 12, 12);
}


button#Auslesen{

float: right;
height: 40px;
border: none;
margin-right: 200px;
background: transparent;


}

ul#ListeEinerEinkaufsliste{



margin-top: 0px;
margin-right: -452px;
float: right;
width: 452px;
margin-top: 50px;


}

li.ItemEinerEinkaufsliste{

  padding: 10px;
  border: 1px solid #C71585;
  background:  rgba(250, 230, 243, 0.805);
  margin-bottom: 4px;
  font-family: sans-serif;
  

}

div.ListeEinerEinkaufsliste{

  border: 1px solid #C71585;
  width: 200px;
  padding: 10px;
  
  
  margin-top: 2px;

}

input:focus { 
  
  outline: 2px dotted rgb(236, 12, 12);

}

.checkBox{

  width: 25px;
  height: 25px;
  float: right;
  margin-top: -4px;
  border: 1px solid #f9d9f9;

}

#leftbar {
  display: none;
}

#zeigebar {
  display: none;
}

#butt {
  display: none;
}

#mobile_liste {
  display: none;
}

@media screen and (max-width: 1432px) and (min-width: 786px) {
  div#EinkaufslistenDropDown {
    width: 30%;
    height: 96%;
    border: 1px solid #C71585;
    background-color: rgb(248, 120, 201);
    margin-left: 187px;
}

button#Auslesen {
  float: right;
  height: 40px;
  border: none;
  background: transparent;
  margin-right: 80px;
}

input#Eingabe {
  height: 35px;
  float: right;
  margin-right: 0px;
  border: 1px solid #C71585;
  font-size: 18px;
  text-align: center;
  background-color: rgba(236, 167, 213, 0.905);
  color: rgb(236, 12, 12);
  width: 30%;
}

img#HomeLogo {
  width: 275px;
  height: 120px;
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 0.92fr 0.92fr;
  grid-template-rows: 120px 50px 490px 40px ;
  column-gap: 0px;
  row-gap: 0px;
}

#butt {
  display: none;
}

#mobile_liste{
  display: none;
}

}



@media screen and (max-width: 786px) and (min-width: 500px) {
  

  button#Auslesen {
    float: right;
    height: 40px;
    border: none;
    margin-right: 0px;
    background: transparent;
    width: 9%;
}

div#EinkaufslistenDropDown {
  width: 50%;
  height: 96%;
  border: 1px solid #C71585;
  background-color: rgb(248, 120, 201);
  margin-left: 0px;
}

input#Eingabe {
  height: 35px;
  float: right;
  margin-right: 0px;
  border: 1px solid #C71585;
  font-size: 18px;
  text-align: center;
  background-color: rgba(236, 167, 213, 0.905);
  color: rgb(236, 12, 12);
  width: 40%;
}
#butt {
  display: none;
}

#mobile_liste {
  display: none;
}

}

@media screen and (max-width: 500px) and (min-width: 300px) {
  
  div#EinkaufslistenDropDown {
    width: 100%;
    height: 96%;
    border: 1px solid #C71585;
    background-color: rgb(248, 120, 201);
    margin-left: 0px;
}

button#Auslesen {
  height: 40px;
  border: none;
  background: transparent;
  position: fixed;
  margin-right: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 0.92fr 0.92fr;
  grid-template-rows: 50px 50px 515px 40px ;
  column-gap: 0px;
  row-gap: 0px;
}

img#HomeLogo {
  width: 209px;
  height: 92px;
  margin-left: 67px;
}

p#TextEinkaufsliste {
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 20px;
  padding-top: 14px;
  padding-left: 34%;
}

img#Main2Hintergrund{
  visibility: hidden;
}

#leftbar {
  position: fixed;
    width: 200px;
    left: 0;
    top: 0;
    background: #c71585;
    z-index: 9;
    height: 100%;
}

#zeigebar {
  display: block;
  position: fixed;
  top: 16px;
  left: 9px;
  height: 62px;
  width: 55px;
}

#Xen {
  position: fixed;
  z-index: 19;
  background: fuchsia;
  width: 33px;
  height: 30px;
  margin-left: 5%;
}

#Übersicht {
  color: white;
  position: fixed;
  top: 10%;
  margin-left: 10%;
  font-size: 17px;
}

#sweetList {
  position: fixed;
  left: 7%;
  color: black;
  width: 40%;
  border-right: none;
  padding: 10px;
  background: pink;
  border: 1px solid rgb(248, 120, 201);
  top: 20%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#acci {
  color: #ffc0cb;
  position: fixed;
  top: 33%;
  margin-left: 10%;
  font-size: 27px;
}

.main {
    position: fixed;
    left: 0;
    z-index: 99;
    width: 53%;
    top: 54px;
}

i.fas.fa-clipboard-list {
  position: fixed;
  font-size: 50px;
  color: mediumvioletred;
  top: 24px;
  left: 7px;
} 

#butt {
  position: fixed;
  z-index: 99;
  left: 20px;
  top: 50px;
  display: block;
}

#mobile_liste {
  display: block;
}

}





